
* { 
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
  }
body {
    background-image: url('background.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    color: #ffffff; 
    font-family: 'Poppins', sans-serif; 
    backdrop-filter: blur(4px);
    margin: 0 -15px;
}
body >div{
    max-width: 1100px; 
    margin: 0 auto; 
}
body section{
    padding: 0 30px;
}
.rich-text__white{
    color: #ffffff;
}
.rich-text__black{
    color: #000;
}
.rich-text__yellow{
    color: #fcde47;
}
.banner {
    background-image: url('hero.jpeg'); 
    background-size: cover;
    background-position: center;
    height: 300px; 
    text-align: center;
    padding-top: 100px; 
}
.banner h1{
    font-size: 32px;
    text-shadow: 2px 2px #000;
}
.blur-container{
    margin: 20px 0;
    padding: 20px;
    backdrop-filter: blur(6px);
}
#countdown{
    font-size: 34px;
    font-weight: 700;
}
.sub-container{
    display: flex;
}
.sub-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
}
.sub-section p{
    margin-bottom: 2px;
}
.sub-section img{
    width:100%;
    height:100%;
    object-fit:cover;
}